@model WoolBoxStudio.Models.Portfolio

<img src="@Model.ImageLink" alt="@Model.Title"/>

<h2>@Model.Title</h2>
<p><b>Category: </b>@Model.Category.Name</p>
<p><b>Description: </b>@Model.Description</p>