@model WoolBoxStudio.Models.Portfolio

@{
    ViewBag.Title = "Delete Portfolio Item";
}
@Html.Partial("_AdminMenu")
<h2>Delete Portfolio Item</h2>

<h3>Are you sure you want to delete this?</h3>
<p>
    @Html.DisplayNameFor(model => model.Category.Name):
    @Html.DisplayFor(model => model.Category.Name)
</p>
<p>
    @Html.DisplayNameFor(model => model.Title):
    @Html.DisplayFor(model => model.Title)
</p>
<p>
    @Html.DisplayNameFor(model => model.Description):
    @Html.DisplayFor(model => model.Description)
</p>
<p>
    @Html.DisplayNameFor(model => model.ImageLink):
    @Html.DisplayFor(model => model.ImageLink)
</p>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
