@model WoolBoxStudio.Models.Location    

@{
    ViewBag.Title = "Edit Location Page";
}
@Html.Partial("_AdminMenu")
<h2>Edit Location</h2>

@using (Html.BeginForm("Edit", "Location", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.LocationID)
    
    <p>
      @Html.LabelFor(model =>model.Business):
    </p>
    <p>
        @Html.EditorFor(model => model.Business)
        @Html.ValidationMessageFor(model => model.Business)
    </p>
   <p>
      @Html.LabelFor(model =>model.City):
    </p>
    <p>
        @Html.EditorFor(model => model.City)
        @Html.ValidationMessageFor(model => model.City)
    </p>
    <p>
      @Html.LabelFor(model =>model.Address):
    </p>
    <p>
        @Html.EditorFor(model => model.Address)
        @Html.ValidationMessageFor(model => model.Address)
    </p>
    <p>
        @Html.LabelFor(model => model.ImageLink):
    </p>
    <p>
    <input id="ImageLink" type="file" name="file" />
        @Html.ValidationMessageFor(model => model.ImageLink)
    </p>
    <p>
        <input type="submit" value="Save" />
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
