<nav id="adminNav">
    <ul>
        <li>@Html.ActionLink("Admin Home", "Index", "Admin")</li>
        <li>@Html.ActionLink("Home Page", "Index", "HomeCarousel")</li>
        <li>@Html.ActionLink("Portfolio", "Index", "Portfolio")</li>
        <li>@Html.ActionLink("Product Categories", "Index", "Category")</li>
        <li>@Html.ActionLink("Craft Shows", "Index", "CraftShow")</li>
        <li>@Html.ActionLink("Retail Locations", "Index", "Location")</li>
        <li>@Html.ActionLink("About Me", "Index", "About")</li>   
    </ul>
</nav>