@model IEnumerable<WoolBoxStudio.Models.HomeCarousel>

@{
    ViewBag.Title = "Image Carousel Admin";
}
@Html.Partial("_AdminMenu")
<h2>Edit content for this section below.</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageLink)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) { 
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageLink)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HomeCarouselID })
            @Html.ActionLink("Details", "Details", new { id=item.HomeCarouselID })
            @Html.ActionLink("Delete", "Delete", new { id=item.HomeCarouselID })
        </td>
    </tr>
}

</table>