@model WoolBoxStudio.Models.Category

@{
    ViewBag.Title = "Category Item Details";
}
@Html.Partial("_AdminMenu")
<h2>Category Item Details</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
