@model WoolBoxStudio.Models.LocalPasswordModel

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <p>
        @Html.LabelFor(m => m.OldPassword):
    </p>
    <p>
        @Html.PasswordFor(m => m.OldPassword)
    </p>
    <p>
        @Html.LabelFor(m => m.NewPassword):
    </p>
    <p>
        @Html.PasswordFor(m => m.NewPassword)
    </p>
    <p>
        @Html.LabelFor(m => m.ConfirmPassword):
    </p>
    <p>
        @Html.PasswordFor(m => m.ConfirmPassword)
    </p>
    <input type="submit" value="Change password" />
}
